.input {
  width: 520px;
  height: 69px;
  padding: 0 16px;
  border: 1px solid $gray-300;
  border-radius: 20px;
  @include font-theme($bodyMd, $m);

  &.search { padding-left: 58px; }
  &.small { 
    width: 440px;
    height: 48px;
    padding: 0 12px;
    border-radius: 10px;
    @include font-theme($bodySm, $m);
  }
  &.small.search {padding-left: 40px;}

  &.search:focus { padding-left: 16px; }
  &.small:focus { padding-left: 12px; }
  &.small.search:focus { padding-left: 12px; }
  &:disabled {
    background-color: $gray-300;
  }
}

.label {
  position: relative;
}

.input:disabled .label {
  pointer-events: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
}

.input:focus-within + .icon {
  display: none;
}

// 생년월일
.input-birth {
  @extend .input;
  width: 140px;
  padding-right: 42px;
}

.birth-label {
  position: relative;
  &::after {
    position: absolute;
    content: attr(data-content);
    top: 50%;
    right: 42px;
    transform: translateY(-50%);
    @include font-theme($bodyMd, $m);
    color: $gray-400;
  }
}

.eye-close {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  @include bgImg($url: "/imgs/icons/ic_ClosedEye.svg")
}

// 업로드이미지
.input-file {
  display: none;
}

.file-label {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  .img {
    width: 100%;
    height: 100%;
  }
}