
.flex {
  @include flex($align: center, $gap: 6px);
}

.flex-col {
  @include flex($col: column, $gap: 16px);
}

.grid {
  @include grid-col(240px 1fr, $gap: 40px);
}

// 주/월 요약
.summary-box {
  width: 100%;
  height: 352px;
  border-radius: 10px;
  background-color: $gray-100;
  padding: 14px 16px;
  @extend .flex-col;
}

.summary-content {
  @include font-theme($captionXxs, $m);
  color: $gray-600;
  h4 {
    margin-bottom: 12px;
  }
}

.content {
  @extend .flex;
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: 1px solid $gray-300;
}

.summary-time {
  @include font-theme($captionXs, $m);
  color: $bg-black;
}

// 근무시간리스트
.table-head {
  width: 100%;
  padding: 6px 4px;
  border-bottom: 2px solid $gray-300;
  @include grid-col(repeat(9, 70px), $justi: space-between);
  @include font-theme($captionXxs, $r);
  color: $gray-600;
  margin-bottom: 16px;
}

.table-content {
  li {
    @extend .table-head;
    border-bottom-width: 1px;
    color: $bg-black;
    margin-bottom: 10px;
  }
}