.dim {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  @include flex(column, $gap: 24px);
  padding: 24px;
  &.profile {
    width: 478px;
  }
  &.set-work-small {
    width: 400px;
  }
}

.title-flex {
  @include flex($align: center, $gap: 13px);
  @include font-theme($bodyMd, $m);
}