.picker-wrap {
  width: 100%;
  @include flex($justi: space-between, $align: center);
}

.date-picker {
  @include flex($align: center, $gap: 4px);
  padding: 3px 4px;
}

.btn-container {
  @include flex($align: center, $gap: 6px);
}

.btn-wrap {
  @extend .btn-container;
  gap: 2px;
}

.btn {
  width: 100%;
  @include font-theme($bodySm, $m);
  color: $gray-700;
  padding: 2px 12px;
  border-radius: 4px;
  border: 0.5px solid $gray-300;
  &:hover {
    background-color: $gray-100;
    // color: white;
  }
  &.day {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.week {
    border-radius: 0;
  }
  &.month {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.on {
    background-color: $main-color;
    color: white;
  }
}