@use "../../../styles/abastract/index.scss" as *;

.img {
  transform: rotate(90deg);
}

.menu-list {
  @include flex(column, center, null, 10px);
}

.menu {
  display: block;
  @include font-theme($captionXs, $b);
  padding: 6px 12px;
  border-radius: 10px;
  &.active {
    background-color: $gray-200;
    color: $main-color;
  }
}

.sub-menu {
  @extend .menu;
  @include font-theme($captionXxs, $m);
}

.flex {
  width: 100%;
  height: 100%;
  @include flex(null, space-between, center, null);
}