@use "../../../styles/abastract/index.scss" as *;

.input-wrap {
  @include flex(column, center, center, 16px);
  padding-top: 16px;
}

.time-wrap {
  @include flex(null, space-between, center, null);
  margin: 8px 0 67px;
}

.resend-btn {
  text-decoration: underline;
  @include font-theme($captionXs, $r);
  color: $gray-600;
  padding-right: 8px;
}