.select-wrap {
  width: fit-content;
  position: relative;
  &.square-wrap {
    // @include flex($col: column, $gap: 4px);
    &.active {
      position: absolute;
      background-color: white;
      border: 1px solid $gray-300;
      box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
      .select.square {
        border: 0;
      }
    }
  }
}

.select {
  @include flex($justi:space-between, $align: center);
  padding: 0 12px;
  @include font-theme($captionXs, $m);
  border: 1px solid $gray-300;
  &.round {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    color: $gray-400;
    p {
      &.click {
        color: $bg-black;
      }
    }
    &.on {
      border: 1px solid black;
    }
  }
  &.square {
    width: 152px;
    height: 33px;
  }
}

.option {
  width: 100%;
  height: auto;
  cursor: pointer;
  @include font-theme($captionXxs, $m);
  &.round {
    position: absolute;
    z-index: 10;
    top: 46px;
    left: 0;
    padding: 8px 16px;
    @include flex(column, $gap: 10px);
    background-color: white;
    border-radius: 8px;
    box-shadow: $shadow;
    color: black;
  }
  &.square {
    top: 37px;
    left: 0;
    @include flex($col: column, $gap: 2px);
    .option-value {
      padding: 6px 12px;
      &:hover, &.active {
        color: $main-color;
      }
    }
  }
}
