.date-wrap {
  width: 100%;
  padding: 53px 71px;
  border-radius: 8px;
  border: 1px solid $gray-300;
  @include flex(column, center, center, 8px);
  background-color: white;
}

.text {
  @include font-theme($bodySm, $medium);
  color: $gray-700;
}