@use "../../styles/abastract/index.scss" as *;

// 공통스타일
.content-wrap {
  width: 216px;
  @include flex(column, center, null, 10px);
  padding: 14px 0;
  &.profile {
    gap: unset;
    padding: unset;
  }
}

.meta {
  @include font-theme($captionXxs, $r);
  color: $gray-500;
  margin-top: 8px;
}

// 요청 모달
.request-content {
  @include flex(column, center, null, 16px);
  padding: 14px 0;
}

// 프로필모달
.txt-pad {
  @include font-theme($captionXs, $r);
  padding: 8px 0;
  text-align: left;
}

// 알람모달
.eclips {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.flex-wrap {
  @include flex($justi: space-between, $align: center);
  @include font-theme($captionXs, $r);
  color: $gray-500;
}

// 비밀번호 변경 모달
.pw-wrap {
  @include flex(column, $gap: 16px);
}

// 근무시간변경모달
.container {
  @include flex($align: center, $gap: 48px);
  position: relative;
}
.time-wrapper {
  color: $gray-600;
}

.time-box {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: $gray-400;
  @include flex($justi: center, $align: center);
  color: $bg-white;
  margin-top: 3px;
  @include font-theme($bodySm, $m);
}

.input-time {
  @extend .time-box;
  background-color: $bg-white;
  border: 1px solid $gray-200;
  color: $bg-black;
  text-align: center;
  padding: 10px;
}

.arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 116px;
}

.info-text {
  @include font-theme($captionXs, $m);
  color: $gray-700;
  margin-top: 16px;
}