.modal-container {
  width: fit-content;
  position: absolute;
  top: 66px;
  right: 0;
  background-color: white;
  border-radius: 30px;
  box-shadow: $shadow;
  z-index: 50;
  &.request {
    margin-right: 140px;
  }
  &.profile {
    margin-right: 35px;
  }
  &.alarm {
    margin-right: 78px;
  }
}

.flex {
  width: 100%;
  @include flex(null, space-between, center, null);
  padding: 24px 24px 8px;
}

.content-wrap {
  @include flex(column, center, null, 10px);
  padding: 10px 24px;
  &.profile {
    gap: unset;
    padding: 10px 24px;
  }
}

.close-btn {
  width: 24px;
  height: 24px;
  img {
    width: 100%;
    height: 100%;
  }
}

.bottom {
  width: 100%;
  height: 50px;
}