.flex {
  @include flex(null, center, center, 4px);
}

.avatar-wrap {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $gray-200;
  overflow: hidden;
  &.small {
    width: 24px;
    height: 24px;
    cursor: auto;
  }
}

.avatar-wrap.border {
  border: 2px solid $main-color;
}

.avatar-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.first-name {
  position: absolute;
  @include font-theme($bodyMd, $b);
  color: $gray-800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.font-small {
    @include font-theme($bodySm, $b);
  }
}