.inner {
  padding: 106px 40px 40px;
  height: 100%;
  min-height: calc(100vh - 146px);
  background-color: #FAFAFA;
}

.home-grid {
  width: 100%;
  height: 100%;
  @include grid-col(repeat(2, minmax(668px, 1fr)), null, null, 24px);
  .vacation-wrap {
    @include grid-col(312px 1fr, null, null, 16px);
  }
  .column-wrap {
    @include flex(column, $gap: 24px);
  }
}

// account page
.account-container {
  width: 100%;
  max-width: 680px;
  height: 100%;
  min-height: calc(100vh - 75px);
  margin: 0 auto;
  padding: 175px 80px 0;
  text-align: center;
}

/* 관리자페이지 */
.page-grid {
  display: grid;
  width: 100%;
  height: 100%;
  padding-top: 66px;
  grid-template-columns: 220px 1fr;
  overflow-y: hidden;
}

.admin-inner {
  padding: 40px;
  height: 100%;
  min-height: calc(100vh - 146px);
}

@media screen and (max-width: 1439px) {
  .inner{ padding: 106px 24px 40px; }
  .home-grid {
    min-width: 672px;
    display: flex;
    flex-direction: column;
  }
}

// 폰트설정
@include gen-font-class($displayXxl);
@include gen-font-class($titleXl);
@include gen-font-class($titleLg);
@include gen-font-class($bodyMd);
@include gen-font-class($bodySm);
@include gen-font-class($captionXs);
@include gen-font-class($captionXxs);
@include gen-font-class($captionXxxs);

// loading 페이지
.loading-container {
  height: 100vh;
  @include flex(null, center, center, null);
  img {
    height: 152px;
  }
}

// 홈 리스트 제목
.eclips {
  @include eclips;
}

// 헤더, 알람 모달 active dot
.alarm-dot {
  width: 8px;
  height: 8px;
  background-color: $main-color;
  border-radius: 100%;
}

// 라벨타이틀
.label-title {
  @include font-theme($bodySm, $b);
  padding: 0 4px;
  margin-bottom: 6px;
  &.init-margin {
    margin-bottom: unset;
  }
}

// 근무설정 레이아웃
.setting-work-grid {
  width: 100%;
  @include grid-col(120px 1fr, $gap: 85px);
  padding: 24px 0;
  border-bottom: 1px solid $gray-200;
}

/* input, button 초기설정 */
button {
  outline: none;
  cursor: pointer;
}

button:disabled, button[disabled] {
  background-color: $gray-500;
  color: $bg-white;
  pointer-events: none;
}

select, option {
  outline: none;
  border: none;
  -webkit-appearance:none; /* 크롬 화살표 없애기 */
  -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
  appearance:none /* 화살표 없애기 */
}

input::placeholder {
  color: $gray-400;
}

input:focus:not([type="radio"]) {
  outline: none;
  border: 1px solid $bg-black !important;
}

/* 크롬 자동완성 스타일 */
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

input:-webkit-autofill[readonly] {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0 1000px $gray-200 inset !important;
}

input[readonly] { cursor: not-allowed; }
input[readonly]:focus { border: 1px solid #8C8C8C; }

/* 인풋넘버 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  cursor: text;
}

/* buttons */
.edit-btn {
  width: 64px;
  height: 24px;
  padding: 2px 7px;
  border: 1px solid $gray-600;
  border-radius: 4px;
  background-color: $bg-white;
  // @include captionXxs-m;
  color: $gray-600
}

/* modal sub 버튼*/
@include sub-btn-class('flexible', fit-content, 20px);
@include sub-btn-class('large', 56px, 24px);
@include sub-btn-class('r', 40px, 20px);

.sub-btn-xlarge {
  border-radius: 8px;
  padding: 8px 12px;
  background-color: $main-color;
  color: $bg-white;
  // @include bodySm-m;
}

.sub-btn-xlarge.cancel {
  @extend .sub-btn-xlarge;
  @include sub-btn-cancel-style;
  color: $gray-800;
}

.sub-btn-flexible.cancel {
  @extend .sub-btn-flexible;
  @include sub-btn-cancel-style;
}
.sub-btn-large.cancel {
  @extend .sub-btn-large;
  @include sub-btn-cancel-style;
}
.sub-btn-r.cancel {
  @extend .sub-btn-r;
  @include sub-btn-cancel-style;
}

.toggle-btn {
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 70px;
  background-color: $gray-400;
  .toggle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $bg-white;
  }
  &.on {
    background-color: #426CF1;
    .toggle {
      left: unset;
      right: 2px;
    }
  }
}

/* input */
// 라디오 버튼
/* 기본스타일 제거, 버튼 모양 재설정 */
input[type='radio'] {
  -webkit-appearance: none; /* 웹킷 브라우저에서 기본 스타일 제거*/
  -moz-appearance: none; /* 모질라 브라우저에서 기본 스타일 제거*/ 
  appearance: none; /*기본 브라우저에서 기본 스타일 제거*/
  width: 20px;
  height: 20px;
  border: 1px solid #ccc; /*체크되지 않았을 때의 테두리 색상*/
  border-radius: 50%;
  outline: none; /*focus 시에 나타나는 기본 스타일 제거*/
  cursor: pointer;
}
// /* 체크 시 버튼 모양 스타일*/
input[type='radio']:checked {
  background-color: #436AF5; /*체크 시 내부 원 색상*/
  border: 2px solid #fff; /*라인이 아닌, 라인과 원 사이 색상*/
  box-shadow: 0 0 0 1px #436AF5; /*라인*/
}

/* 체크박스 */
label:not([for^=birth]):not([for^=co]) { 
  cursor: pointer; 
}