.aside {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 66px;
  left: 0;
  border-right: 1px solid $gray-300;
  background-color: white;
}

.nav {
  width: 100%;
  height: 100%;
  padding: 40px 34px 0;
}

.menu-head {
  padding: 0 12px;
  @include font-theme($bodyMd, $b);
  margin-bottom: 32px;
}